#### File Organization and Databases 
This notebook introduces additional methods of accessing structured data using the python pandas package.

In this notebook we will look at methods to 
* load data from file into a dataframe

* Optimize memory management using pandas

* Inspect data using head and tail functions

* fetch summary statistics

* access data using pandas functions

In [1]:
#import the pandas library 
import pandas as pd

In [2]:
#Jupyter notebook provides a mechanism to run OS commands
!dir data

 Volume in drive C is Local Disk
 Volume Serial Number is 8085-52B5

 Directory of C:\Users\javie\OneDrive\Documents\Academics\SMU\MSDS 7330 - File Organization and Database Management\Session Labs\MSDS7330_Wk2_InClass\data

01/05/2019  03:07 PM    <DIR>          .
01/05/2019  03:07 PM    <DIR>          ..
01/05/2019  03:07 PM             6,148 .DS_Store
01/05/2019  03:07 PM           460,676 AmesHousing.csv
               2 File(s)        466,824 bytes
               2 Dir(s)  72,817,774,592 bytes free

In [3]:
# Read the data file into a pandas dataframe
df = pd.read_csv("data/AmesHousing.csv")

In [4]:
#Show the first 5 records from the data
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
#Examine the summary of the variables in the dataset. The info() function lists all the columns with their counts and datatypes
#Pandas assigns default datatypes for the columns based on the data housed in them
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [6]:
#Examine the shape of the data : The # of Records and # Columns
df.shape

(1460, 81)

In [7]:
## Lets now look at the total memory consumed by the pandas dataframe in memory 
for dtype in ['float','int','object']:
    selected_dtype = df.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b 
    print("Average memory usage for {} columns: {:03.2f} KB".format(dtype,mean_usage_mb))

Average memory usage for float columns: 8780.00 KB
Average memory usage for int columns: 80.00 KB
Average memory usage for object columns: 82638.14 KB

In [8]:
##Notice that the integer fields are listed as "int64" : which implies 64 bits of storage allocated each field.
## The maximum value that can be stored in any int64 field is :  (9,223,372,036,854,775,808) . DO we need so much space for our int fields. 
## Lets examine the values stored in 3 int64 fields YearBuilt , PoolArea and SalePrice
print("Highest value of the SalesPrice in the data set is %d"%df.SalePrice.max())
print("Highest value of the LotArea in the data set is %d"%df.LotArea.max())

Highest value of the SalesPrice in the data set is 755000
Highest value of the LotArea in the data set is 215245

In [9]:
## We will optimize the storage for the integer fields by reducing the amount of storage reserved for the integer columns
##update the data type for columns for optimal storage
for colName in df.select_dtypes(include=['int']).columns:
    df[colName] = df[colName].astype("int32")

In [10]:
##memory usage storage after updating the column size 
for dtype in ['float','int','object']:
    selected_dtype = df.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b
    print("Average memory usage for {} columns: {:03.2f} KB".format(dtype,mean_usage_mb))

Average memory usage for float columns: 8780.00 KB
Average memory usage for int columns: 80.00 KB
Average memory usage for object columns: 82638.14 KB

In [11]:
##List all columns
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [12]:
##select a column from the dataframe
df["BldgType"]

0         1Fam
1         1Fam
2         1Fam
3         1Fam
4         1Fam
5         1Fam
6         1Fam
7         1Fam
8         1Fam
9       2fmCon
10        1Fam
11        1Fam
12        1Fam
13        1Fam
14        1Fam
15        1Fam
16        1Fam
17      Duplex
18        1Fam
19        1Fam
20        1Fam
21        1Fam
22        1Fam
23      TwnhsE
24        1Fam
25        1Fam
26        1Fam
27        1Fam
28        1Fam
29        1Fam
         ...
1430      1Fam
1431    TwnhsE
1432      1Fam
1433      1Fam
1434      1Fam
1435      1Fam
1436      1Fam
1437      1Fam
1438      1Fam
1439      1Fam
1440      1Fam
1441    TwnhsE
1442      1Fam
1443      1Fam
1444      1Fam
1445      1Fam
1446      1Fam
1447      1Fam
1448      1Fam
1449     Twnhs
1450    Duplex
1451      1Fam
1452    TwnhsE
1453      1Fam
1454      1Fam
1455      1Fam
1456      1Fam
1457      1Fam
1458      1Fam
1459      1Fam
Name: BldgType, Length: 1460, dtype: object

In [13]:
##List all distinct Neighborhood values from the dataframe
df["BldgType"].unique()

array(['1Fam', '2fmCon', 'Duplex', 'TwnhsE', 'Twnhs'], dtype=object)

In [14]:
##Get Summary statistics of the numeric columns
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [15]:
##Different results when Categorical variables are described
df[["Neighborhood","BldgType","HouseStyle"]].describe()

       Neighborhood BldgType HouseStyle
count          1460     1460       1460
unique           25        5          8
top           NAmes     1Fam     1Story
freq            225     1220        726

In [16]:
##Conditionally select homes single family homes only
dfSingleFamHomes = df[df["BldgType"]=="1Fam"]
print (dfSingleFamHomes.shape)

(1220, 81)

In [17]:
##Conditionally describe single family homes only
df[df.BldgType=="1Fam"].describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1220.000000,1220.000000,994.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1213.000000,1220.000000,...,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000
mean,727.183607,41.565574,74.503018,11240.634426,6.121311,5.651639,1969.672951,1984.628689,101.948063,444.336066,...,96.652459,48.721311,24.538525,3.817213,16.134426,3.301639,40.896721,6.355738,2007.816393,185763.807377
std,423.503975,21.781030,22.514368,9578.994040,1.397891,1.147436,30.508549,21.023265,182.594846,460.033751,...,127.096821,67.779012,64.429338,31.396042,58.036889,43.934426,477.204925,2.715919,1.321518,82648.502922
min,1.000000,20.000000,30.000000,2500.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,361.750000,20.000000,60.000000,8359.250000,5.000000,5.000000,1950.000000,1965.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,131475.000000
50%,726.500000,45.000000,71.000000,9819.000000,6.000000,5.000000,1970.000000,1994.000000,0.000000,384.000000,...,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,167900.000000
75%,1101.250000,60.000000,83.750000,12000.000000,7.000000,6.000000,2000.000000,2004.000000,162.000000,706.500000,...,178.000000,72.250000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,222000.000000
max,1460.000000,120.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [18]:
##Select homes built after year 2000 
df[df.YearBuilt>=2000].describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,388.000000,388.000000,343.000000,388.000000,388.000000,388.000000,388.000000,388.000000,381.000000,388.000000,...,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000
mean,734.703608,58.827320,73.565598,9912.943299,7.404639,5.007732,2004.737113,2005.095361,157.640420,471.819588,...,115.677835,70.293814,0.989691,2.672680,8.157216,1.237113,5.154639,6.420103,2007.721649,242439.162371
std,428.598753,42.937712,26.644304,5342.208931,1.050989,0.196723,2.338966,2.395879,197.839633,598.238934,...,103.126985,62.520622,12.577199,23.981444,39.043387,24.368308,101.534617,2.874877,1.321594,82869.363324
min,1.000000,20.000000,24.000000,2117.000000,4.000000,2.000000,2000.000000,2000.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,84500.000000
25%,350.750000,20.000000,61.000000,7750.000000,7.000000,5.000000,2003.000000,2004.000000,0.000000,0.000000,...,0.000000,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,184587.500000
50%,735.000000,60.000000,72.000000,9590.500000,7.000000,5.000000,2005.000000,2005.000000,99.000000,60.000000,...,130.000000,51.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,223750.000000
75%,1091.500000,60.000000,85.000000,11967.500000,8.000000,5.000000,2006.000000,2007.000000,244.000000,904.000000,...,180.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,276375.000000
max,1455.000000,180.000000,313.000000,63887.000000,10.000000,6.000000,2010.000000,2010.000000,1031.000000,5644.000000,...,519.000000,406.000000,177.000000,304.000000,266.000000,480.000000,2000.000000,12.000000,2010.000000,611657.000000

In [19]:
##Built in functions to get additional details on one/more columns 

## What is the oldest house in the dataset
print ("Year the oldest house was built : %d"%df.YearBuilt.min())

##List the avg number of rooms
print ("Avg number of rooms per room in the dataset : %d  "%(df.TotRmsAbvGrd.mean()))

Year the oldest house was built : 1872
Avg number of rooms per room in the dataset : 6

In [20]:
##Get average SalesPrice by total number of bedrooms for each neighborhood

#Lets inspect and see how many unique values exist for Number of Bedrooms
print(df.BedroomAbvGr.unique())

#to get the Saleprice by the # of rooms - Use groupby function and apply mean()
df.groupby([df.BedroomAbvGr,df.Neighborhood]).mean()["SalePrice"]

[3 4 1 2 0 5 6 8]

BedroomAbvGr  Neighborhood
0             ClearCr         260000.000000
              OldTown         144000.000000
              Sawyer          126979.500000
              StoneBr         286000.000000
              Veenker         385000.000000
1             Blmngtn         207153.666667
              BrkSide          61925.000000
              ClearCr         186000.000000
              CollgCr         143470.000000
              Crawfor         289000.000000
              Edwards          71750.000000
              IDOTRR           35311.000000
              MeadowV          83166.666667
              Mitchel         182728.666667
              NAmes           139500.000000
              NridgHt         279098.000000
              OldTown         103200.000000
              SWISU            60000.000000
              SawyerW         316600.000000
              Somerst         273300.000000
              StoneBr         323942.250000
              Veenker         284750.000000
2             Blmngtn         192238.857143
              Blueste         124000.000000
              BrDale           99862.500000
              BrkSide         103304.761905
              ClearCr         233214.285714
              CollgCr         176819.928571
              Crawfor         187009.090909
              Edwards         111993.333333
                                  ...
4             IDOTRR          160750.000000
              MeadowV         127000.000000
              Mitchel         154128.571429
              NAmes           176939.285714
              NWAmes          201250.238095
              NoRidge         359398.608696
              NridgHt         375730.000000
              OldTown         148056.142857
              SWISU           145444.444444
              Sawyer          150666.666667
              SawyerW         205137.750000
              Somerst         280119.250000
              StoneBr         445375.000000
              Timber          265501.857143
5             BrkSide         214500.000000
              ClearCr         196333.333333
              Edwards          81000.000000
              MeadowV         151400.000000
              Mitchel         171000.000000
              NAmes           177100.000000
              NWAmes          250000.000000
              NoRidge         310000.000000
              OldTown         140700.000000
              SWISU           158500.000000
              SawyerW         320000.000000
6             NAmes           150650.000000
              SWISU           135900.000000
              Sawyer          125000.000000
              SawyerW         142953.000000
8             SWISU           200000.000000
Name: SalePrice, Length: 107, dtype: float64

In [21]:
##When was the most recent home built in the OldTown neighborhood
df[df.Neighborhood=="OldTown"].YearBuilt.max()

2003

### In-class exercise

##### Question 1 : Create a dataframe with the following columns : YearBuilt , HomePrice , LotArea , BedroomAbvGr and FullBaths

In [22]:
#HomePrice and FullBaths don't exist in original df
#Assumed it was typo and replaced with SalePrice and FullBath
df1 = pd.DataFrame(data=df,columns=['YearBuilt','SalePrice', 'LotArea', 'BedroomAbvGr', 'FullBath'])
df1.head(5)

   YearBuilt  SalePrice  LotArea  BedroomAbvGr  FullBath
0       2003     208500     8450             3         2
1       1976     181500     9600             3         2
2       2001     223500    11250             3         2
3       1915     140000     9550             3         1
4       2000     250000    14260             4         2

##### Question 2 : What is the avg price of single family homes

In [23]:
df[df.BldgType=="1Fam"].mean()["SalePrice"]

185763.80737704918

##### Question 3 : What is the mean home price of the single family homes built after 1950

In [24]:
#data frame w/ single fam homes created earlier in line 18.
dfSingleFamHomes[df.YearBuilt>1950].mean()["SalePrice"]

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

203555.15679824562

##### Question 4 : What is the median home price per number of bedrooms in the house?

In [25]:
df.groupby([df.BedroomAbvGr]).median()["SalePrice"]

BedroomAbvGr
0    202500.0
1    145250.0
2    137250.0
3    169945.0
4    193500.0
5    161500.0
6    141000.0
8    200000.0
Name: SalePrice, dtype: float64

##### Question 5 : What is the most expensive home in each Neighborhood

In [26]:
df.groupby([df.Neighborhood]).max()["SalePrice"]

Neighborhood
Blmngtn    264561
Blueste    151000
BrDale     125000
BrkSide    223500
ClearCr    328000
CollgCr    424870
Crawfor    392500
Edwards    320000
Gilbert    377500
IDOTRR     169500
MeadowV    151400
Mitchel    271000
NAmes      345000
NPkVill    155000
NWAmes     299800
NoRidge    755000
NridgHt    611657
OldTown    475000
SWISU      200000
Sawyer     190000
SawyerW    320000
Somerst    423000
StoneBr    556581
Timber     378500
Veenker    385000
Name: SalePrice, dtype: int64

##### Question 6 :Sort homes by the year built

In [28]:
df2 = df.sort_values(by=['YearBuilt'])
df2.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1349,1350,70,RM,50.0,5250,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,122000
1137,1138,50,RL,54.0,6342,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,94000
747,748,70,RM,65.0,11700,Pave,Pave,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,265979
304,305,75,RM,87.0,18386,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,295000
1132,1133,70,RM,90.0,9900,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,117500